<template>
    <div class="communications">
        <img v-for="item in items" :key="item" :src="url" @load="loadEvent">
    </div>
</template>

<script>
export default { 
    props: {
        items: Array,
        url: String
    },
    methods: {
        loadEvent() {
            setTimeout(() => {
                this.$emit('finished');
            }, 240)
        }
    }
}
</script>

<style scoped>
.communications {
    width: 150px;
    position: relative;
}
@keyframes anim {
    0% {
        transform: translate(0%,-50%);
        left: 0;
    }
    100% {
        left: 100%;
        transform: translate(-100%,-50%);
    }
}
.communications img {
    height: 50px;
    width: auto;
    position: absolute;
    left: 0;
    top: 50%;
    animation: anim 0.25s ease;

}
</style>
