<template>
    <section>
        <div class="w3-row-padding" id="about">
            <div class="w3-center w3-padding-64">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
            </div>
            <div class="grid__display">
          
                <div v-for="user in team" :key="user.nmec" class="w3-card-4 w3-margin-bottom doflex">
                    <img class="imgfit" :src="user.url" :alt="user.name" style="width:100%">
                    <div class="w3-container">
                        <h4>{{user.name}}</h4>
                        <p class="w3-opacity">{{user.nmec}}</p>
                        <p><button class="w3-button w3-light-grey w3-block">More info</button></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
            team: [
                {
                    name: 'João Carrasco', nmec: 80305, url: '/carrasco.jpg' 
                },
                {
                    name: 'Diego Hernandez', nmec: 77013, url: '/diego.jpg'
                },
                {
                    name: 'Pedro Fajardo', nmec: 80021, url: '/fajardo.jpg'
                },
                {
                    name: 'João Verdasca', nmec: 62355, url: '/verdasca.jpg'
                },
                {
                    name: 'Marco Ventura', nmec: 76667, url: '/marco.jpg'
                },
            ]
        } 
    }
}
</script>

<style scoped>
.grid__display {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}
.doflex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imgfit {
    height: 60%;
    object-fit: cover;
}
</style>
