<template>
    <section class="documentation">
         <h1>Documentation</h1>
         <h2>Client Side</h2>
        <div class="doc__grid">
            <div class="doc__grid__container" v-for="item in documentation" :key="item.title">
                <div>
                    <h5 class="doc__grid__title"><b>{{item.title}}</b></h5>
                </div>
                <span>{{item.text}}</span>
            </div>
        </div>
         <h2>Schedule of features</h2>
        <div class="doc__grid">
            <div class="doc__grid__container" v-for="item in schedule" :key="item.title">
                <div>
                    <h5 class="doc__grid__title"><b>{{item.title}}</b></h5>
                </div>
                <span>{{item.text}}</span>
            </div>
        </div> 
         <h2>Technologies</h2>
        <div class="doc__grid">
            <div class="doc__grid__container" v-for="item in tecnologies" :key="item.title">
                <div>
                    <h5 class="doc__grid__title"><b>{{item.title}}</b></h5>
                    <div class="img__container">
                        <img :src="item.url" alt="">
                    </div>
                </div>
                <span>{{item.text}}</span>
            </div>
        </div>

         <h2>Personas/Users</h2>
        <div class="doc__grid">
            <div class="doc__grid__container" v-for="item in personas" :key="item.title">
                <div>
                    <h5 class="doc__grid__title"><b>{{item.title}}</b></h5>
                </div>
                <span>{{item.text}}</span>
            </div>
        </div>
        <h2>Scenarios</h2>
        <div class="doc__grid">
            <div class="doc__grid__container" v-for="item in Scenarios" :key="item.title">
                <div>
                    <h5 class="doc__grid__title"><b>{{item.title}}</b></h5>
                </div>
                <span>{{item.text}}</span>
            </div>
        </div>
         <h2>Images</h2>
        <div class="doc__grid">
            <div class="doc__grid__container" v-for="item in images" :key="item.title">
                <div>
                    <h5 class="doc__grid__title"><b>{{item.title}}</b></h5>
                    <div class="img__container">
                        <img :src="item.url" alt="">
                    </div>
                </div>
                <span>{{item.text}}</span>
            </div>
        </div>

        
    </section>
</template>

<script>
export default {
    data() {
        return {

             documentation: [
                {
                    title: 'Description of concepts',
                    text: 'In this project our objective is implement a simple interface to control a car, that can be used by a simple men without to much formation, in natural disasters'
                },
                {
                    title: 'Proposed solution ',
                    
                    text: 'In the image 1 you can she the image of the Mockup/Usage     '
                },
                {
                    title: 'Features',
                 
                    text: 'Used to replace humans in natural disasters, to  reconnaissance the field for example , earthquakes, tsunamis and other disasters.'
                },
                {
                    title: 'Overall setup / architecture ',
                
                
                    text: 'In the image 2 we can see the image about the Architecture/Overall Setup'
                }
                ,
                { 
                    title: 'Technical Requirements',
                
                
                    text: 'SBrick car, MySQL (database), SpringBoot, Kafka, Bluetooth, Raspberry Pi,View js'
                }
            ],

             schedule: [
                {
                    title: 'Milestone 1',
                    
                    text: 'Define a system overall rationale , Sample project on docker , Maven, broker.'
                },
                {
                    title: 'Milestone 2',
                    text: 'First  deployment of system with minimum features, Identify scenarios and features and schedule them across iterations.'
                },
                {
                    title: 'Milestone 3',
                    text: 'Ensure that system is valuable for the user, and that user can use the interface easily, Web UI dashboard, Basic flow of processing events / streams ( e.g. alarms, converter ) and UI , Draft REST API for data access and other identified services ( may depend on project ).'
                },
                {
                    title: 'Milestone 4',
                    text: 'System support to historic data and UI for review , (pending) Present basic code analytics on projects.'
                },
                  {
                    title: 'Milestone 5 ',
                    text: 'Basic acceptance testing using BDD ( coverage may depend on project ) , Automated code delivery i.e. no more IDE to deploy project ( can be maven evoked from IDE...), Deploy system wide logging - Logging at components levels ( logstash? Messaging? ).'
                }
                ,
                {
                    title: 'Milestone 6',
                    text: ' Expect full system Continuous deployment using Jenkins.'
                }
                ,
                  {
                    title: 'Milestone 7 ',
                    text: 'Full  ELK or similar  stack for system monitoring ,Full working system.'
                }
            ]
            ,
            tecnologies: [
                {
                    title: 'Vue.js',
                    url: '/vue.png',
                    text: 'GUI interface for managing the cars, it allows the user to control the car.'
                },
                {
                    title: 'Spring boot',
                    url: '/springboot.png',
                    text: 'Spring boot is responsible to the database managament and is the brain behind the car control, it keeps track of the overall latency between the user and the car.'
                },
                {
                    title: 'Raspberry Pi',
                    url: '/rasp.png',
                    text: 'This device will relay commands from the springboot, driving is done by sending specific messages with an specific structure and is sent to the SBrick through Bluetooth LE. Latency between this two points has become a challenge, we were able to control the car using the gatttool unix command.'
                },
                {
                    title: 'Sbrick',
                    url: '/carro.jpg',
                    text: 'Device that will be controlled via bluetooth, this device can move forward, backward, and has some flexibily to the sides.'
                }
            ]
            ,
            images: [
                {
                    title: 'Image 1 - MockUp',
                    url: '/mockup.png',
                },
                {
                    title: 'Image 2 - Architecture',
                    url: '/architecture.png',
                },
                {
                    title: 'Image 3 - Persona 1',
                    url: '/fireman.jpg',
                },
                {
                    title: 'Image 4 - Persona 2',
                    url: '/army.jpg',
                },

                {
                    title: 'Image 5 - Scenarios',
                    url: '/earth.jpg',
                }
                
            ]
            ,
              personas: [
                {
                    title: 'Users - Fireman',
                    text: 'Jhonn Dexter, 43 I am a born and raised Alabama boy, and like any good country boy I clean up good and know how to turn on the charm. I love spending the weekend outside exploring the area, BBQing with friends, and harassing my dog. (He secretly loves it, of course.) I will warn you that I dance like a fool at weddings. Really. I will embarrass you. But if I do my job right, you’ll be laughing too much to care. I am a fireman a care about other person, I life for another life.'},
                {
                    title: 'User - Army',
                    
                    text: 'Peter Parker, 33 I’m a fun-loving guy who’s a happy dog-dad to my girl Roxie. My friends would probably describe me as goofy but somehow I always end up being the responsible one. I have a lot of hobbies to keep up with. At the moment I’m focused on softball and fishing. One helps me get out and be social and the other helps me get away from it all. If you don’t mind the pup or a little bit of a goof we could be a pretty good pair. I`ve been in the military for over 10 years. I`ve been to Afghanistan 3 times over the past 10 years and I`ve learned a lot from these trips.'
                }
            ],

            Scenarios: [
                {
                    title: 'Earthquakes',
                    text: 'A 7.8-magnitude earthquake hit Baguio on July 16, 2018, causing total destruction, where buildings were all at risk of collapse and no more human lives could be put at stake, it is necessary to use robots to assess the condition of buildings.'},
                
            ]
           
        }
    }
}
</script>



<style scoped>
.documentation {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    padding: 20px;

}
.doc__grid {
    text-align: center;
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}
.doc__grid__container {
    border: 1px solid black;
    background-color: #f2f2f2;
    border-radius: 10px;
        display: flex;
    flex-direction: column;
    text-align: justify;
    text-justify: inter-word;
   /*  justify-content: space-between; */
    align-items: center;
}
.img__container {

    margin-top: 10px;
    margin-bottom: 50px;
}
.doc__grid__title {

}
.doc__grid img {
    height: 80px;


}
.doc__grid span {
    width: 90%;
    text-align: left;
}
</style>