<template>
  <section class="container1">
      <div>
        <div class="arquitecture">
          <img src="/vue.png" alt="">
          <Communication url="/http.png" :items="cmd[0]" @finished="endEvent(0)"/>
          <img src="/springboot.png" alt="">
          <Communication url="/kafka.png" :items="cmd[1]" @finished="endEvent(1)"/>
          <img src="/rasp.png" alt="">
          <Communication url="/bluetooth.png" :items="cmd[2]" @finished="endEvent(2)"/>
          <img src="/carro.jpg" alt="">
        </div>
        <h1 class="title">
          SBRICK
        </h1>
      </div>

      <div class="flexdisplay">
        <div class="links"> 

          <button v-on:click="walkMove('88','FF')"
          class="button">LEFT</button>

          <button v-on:click="walkMove('FF','FF')"
          class="button">WALK</button>
          
          <button v-on:click="walkMove('FF','88')"
          class="button">RIGHT</button>

          <button v-on:click="backMove('88','FF')"
          class="button">LEFT</button>

          <button v-on:click="backMove('FF','FF')"
          class="button">BACK</button>

          <button v-on:click="backMove('FF','88')"
          class="button">RIGHT</button>        

        </div>
        <LineChart style="width:400px; height:350px" :data="{x,y}"/>
      </div>
      
  </section>
</template>

<script>
import 'babel-polyfill';
import axios from 'axios'
import Communication from '../components/Communication'
import LineChart from "../components/UI/LineChart"
export default {
  components: {
     LineChart,
     Communication
  },
  data() {
    return {
      marker: new Date(),
      spring: true,
      cmd: [
        [],[],[]
      ],
      index: 0,
      x: [],
      y: []
    }
  },
  methods: {
    async send(url,data) {
      const start = new Date() 
      await axios({
        url,
        method: 'post',
        data
      }) 
      const stop = new Date()
      this.x.push(this.x.length+1)
      this.y.push(Number(stop-start)*2)
      try {
        await axios({
          url: '/elasticSearch',
          method: 'post',
          data: { latency: Number(stop-start)*2 }
        })
      } catch(ex) {
        console.error('Error');
        
      }
      
    },
    async sendCommand(url, data) {
      const {left, right} = data
      
      const cmd = 
        url == '/walk' 
            ? `char-write-req 0x1A 010100${right}\nchar-write-req 0x1A 010301${left}`
            : `char-write-req 0x1A 010101${right}\nchar-write-req 0x1A 010300${left}`;
      console.log('sending command')
      
      this.marker = new Date();
      await this.send('http://192.168.160.80:2048/writeCommand', {cmd , date: Number(new Date())})

      setTimeout(async () => {
      if(new Date() - this.marker>=1350) {
          await this.send('http://192.168.160.80:2048/writeCommand', {
                cmd: "char-write-req 0x1A 01010000\nchar-write-req 0x1A 01030100", 
                date: Number(new Date())
          })
        console.log('Stoping')
        } 
      }, 1400)


    },
    async walkMove(left, right ) {
      console.log('WALKING', left, right)
      if(this.spring) this.cmd[0].push(++this.index)
      const func = this.spring ? this.sendCommand : this.send;
    
      await func('/walk',{ left, right })


    },
    async backMove(left, right) {
      console.log('GOINGBACK', left, right)
      if(this.spring) this.cmd[0].push(++this.index)
      const func = this.spring ? this.sendCommand : this.send;
      await func('/back',{ left, right })
    },
    endEvent(ind) {
      this.cmd[ind].shift()
      if(ind < 2)
        this.cmd[ind+1].push(++this.index) 
    }
  }
}
</script>

<style>
.container1 {
  margin: 0;
  margin-top: 50px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  margin: 2.5rem 0;
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 3.5rem;
  color: #35495e;
  letter-spacing: 1px;
}
.button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #4CAF50; /* Green */
  user-select: none;
}
.subtitle {
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  color: #526488;
  word-spacing: 5px;
}

.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 30px; 
}

.link__group {
  display: flex;
  margin: 0.6rem 0;
  justify-content: center;
}

.link__group > * {
  margin: 0 15px;
}

.cmd {
  position: absolute;
  top: -20px;
  left: 0;
  transition: left 0.5s;
  opacity: 0;
}


.arquitecture {
  position: relative;
  display: flex;
  align-items: center;

}

@media(max-width:900px){
  .arquitecture {
    display: none;

  }
}


.arquitecture > img {
  width: 90px;
  height: auto;
}

.flexdisplay {
  display: grid;
  width: 90%;
  grid-template-columns: repeat( auto-fit, minmax(550px, 1fr) );
  justify-content: center;
  justify-items: center;
  align-items: center;

}
</style>