<template>
  <div class="chart">
    <Lines :width="350" :height="300" :data="data.y" :labels="data.x"/>
  </div>
</template>

<script>
import Lines from './line'

export default {
    props: {
        data: Object
    },
    components:{
        Lines,
    }
}

</script>

<style scoped>

.chart {
    position: relative;
    width: 60%;
    margin: auto;
}


</style>

